<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Morning music:</strong>
  <%= @user.morning_music %>
</p>

<p>
  <strong>Afternoon music:</strong>
  <%= @user.afternoon_music %>
</p>

<p>
  <strong>Evening music:</strong>
  <%= @user.evening_music %>
</p>

<p>
  <strong>Rfid:</strong>
  <%= @user.rfid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
